<header class="bg-primary py-3 flex items-center relative z-10">
  <div class="flex flex-wrap gap-y-3 space-x-3 items-center justify-between container">
    <a href="#">
      <img src="./img/header-logo.svg" alt="Logo" class="w-[158px] h-[33px] lg:w-[228.5px] lg:h-[45px] object-contain">
    </a>
    <nav class="hidden md:block">
      <ul class="flex space-x-[50px]">
        <li>
          <a href="#services" class="text-base lg:text-lg font-medium text-white"">Послуги</a>
        </li>
        <li>
          <a href="#about" class="text-base lg:text-lg font-medium text-white"">Про нас</a>
        </li>
        <li>
          <a href="#contacts" class="text-base lg:text-lg font-medium text-white"">Контакти</a>
        </li>
      </ul>
    </nav>
    <a href="#" class="inline-flex items-center justify-center px-5 py-3 lg:py-3.5 border rounded-full border-white">
      <img src="./img/tel-icon.svg" alt="Написати нам" class="hidden lg:block size-[20px] mr-2.5">
      <span class="text-base lg:text-lg font-medium text-white">Написати нам</span>
    </a>
  </div>
</header>